:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    /* gradient orange */
    --gradient-orange: linear-gradient(to bottom right, #ff822f, #ff6600 80%, #ff7418);
}

/* scroll smooth */

html {
    scroll-behavior: smooth;
}

.bg-orange, .badge-orange, .btn-orange {
    background-image: var(--gradient-orange);
    color: #f5f5f5 !important;
}

.card-orange {
    background-color: #ff6600;
    color: #ececec;
}

.brand__pagination {
    margin-top: 200px !important;
}

.brand__pagination__page {
    padding: 3px;
    border-radius: 50%;
    background: transparent;
    margin: 0 2px;
    cursor: pointer;
    border: 1px solid #ff6600;
}

.brand__pagination__page.is-active {
    background-color: #ff6600;
}