:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    /* gradient orange */
    --gradient-orange: linear-gradient(to bottom right, #ff822f, #ff6600 80%, #ff7418);
}

/* scroll smooth */

html {
    scroll-behavior: smooth;
}

.bg-orange, .badge-orange, .btn-orange {
    background-image: var(--gradient-orange);
    color: #f5f5f5 !important;
}

.text-orange {
    color: #ff6600 !important;
}

.card-orange {
    background-color: #ff6600;
    color: #ececec;
}

.brand__pagination {
    margin-top: 200px !important;
}

.brand__pagination__page {
    padding: 3px;
    border-radius: 50%;
    background: transparent;
    margin: 0 2px;
    cursor: pointer;
    border: 1px solid #ff6600;
}

.brand__pagination__page.is-active {
    background-color: #ff6600;
}
 
.dataTables_filter {
    color: #000 !important;
}

.dataTables_info {
    float: left;
    color: #000;
}

.dt-buttons {
    float: left;
}

.button-page-length {
    color: #000 !important;
}

.btn-close {
    color: #fff;
    opacity: 1;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    position: absolute;
    right: 0;
    padding: .5rem .75rem;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-close:hover {
    opacity: 1;
}


div.show-password {
    cursor: pointer !important;
}


@media screen and (max-width: 1720px) {
    .quantity_wrapper {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

input.form-control:focus {
    border-color: #f58634 !important;
}

.p-highlight {
    background-color: #f58634;
    color: #fff;
}

/* no outline button */
.p-button {
    outline: none;
    box-shadow: none 
}

.p-dialog-header-icon.p-dialog-header-close.p-link {
    outline: none;
    border: none;
    box-shadow: none 
}

.p-dialog-header {
    background-image: var(--gradient-orange);
    color: #fff !important;
}

.p-dialog-header-close {
    color: #fff !important;
}

.p-inputtext:focus, .p-inputwrapper-focus{
    border-color: #f58634;
    box-shadow: none;
    outline: none;
}

/* InputNumber style outline none */

input.p-inputnumber-input:enabled:focus {
    box-shadow: none !important;
}
